body {
	background-color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
   	padding: 0;
	font-size:15px;
	width:100%;
	}
	
.contenedor {
	position:relative;
	}
	
/*
	HEADER
*/
	
header {
	background-color: #E88200;
	width:100%;
	height:40px;
	border-bottom-style: solid;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	box-shadow: 1px 2px 3px #888888;
}

#header-titulo {
	float: left;
	}
		
#titulo {
	color: #FFFFFF;
	font-size: 25px;
	background-color: #E88200;
	text-transform:uppercase;
	font-weight: 900;
	border:none;
	height:40px;
	}
	
@media screen and (max-width: 480px){
	#titulo {
		font-size:30px;
	}
}
 
/*
	HEADER:
	-Login BOTON
*/
#login {
	float: right;
	}
	
#login-boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FFA600;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}

#entrar {
    display: block;
    position: absolute;
	right:0;
    top: 45px;
	z-index:1000;
    width:300px;
	background-color: #E88200;
	color: #000000;
	border-style:solid;
	border-width:1px;
	text-align:center;
	box-shadow: 1px 2px 5px #888888;
	}
	
@media screen and (max-width: 480px){
#entrar {
	float: none;
	width: 100%;
	}
}

#menu-entrar-email {
	margin-top:10px;
	width:90%;
	}
	
#menu-entrar-password {
	width:90%;
	}
	
#menu-entrar-ncsesion_submit {
	margin-left:5%;
	margin-top:5px;
	margin-right:5%;
	margin-bottom:30px;
}

#menu-entrar-ncsesion-div {
	float:left;
	font-size: 12px;
	font-weight:900;
	color:#FFFFFF;
	text-transform:uppercase;
	}

#menu-entrar-submit {
	float:right;
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FFA600;
	border:none;
	height:20px;
	text-transform:uppercase;
	font-weight:900;
	}
	
/*
	HEADER:
	-Iniciar sessión BOTON
*/
#create_acc {
	float: right;
	}
	
#create-boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF0004;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
/* 
	NAV
*/
nav {
	position:absolute;
	width:150px;
	}
	
nav ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #F89200;
	font-variant: small-caps;
	text-transform: uppercase;	
	}
	
nav ul li a:link{
	color: #FF5700;
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}
	
nav ul li a:visited{
	color: #FF5700;	
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}
	
nav ul li a:hover{
	text-shadow: 0px 0px 5px #FB0202;
	}
	
nav ul li a:active{
	-webkit-box-shadow: inset 0px 0px 5px 0px #000000;
	box-shadow: inset 0px 0px 5px 0px #000000;
	}

/* 
	CONTENIDO CENTRAL
*/

section {
	margin-right:320px;
	margin-left:150px;
	margin-top:10px;
	margin-bottom:20px;
	}
	
#contenido {
	background-color: #FFFFFF;
	text-align: left;
	word-wrap: break-word;
	}
	
#contenido_arriba_nombre {
	float:left;
	}
	
#contenido_arriba_fecha {
	float:right
	}
	
#contenido_central {
	clear:both
	}
	
/* 
	ASIDE 
*/
aside {
	position: absolute;
	top: 0px;
	bottom: 0;
	right: 0;
	width: 300px;
	}

/* 
	FOOTER
*/
footer {
	border-top-style: inset;
	border-top-width:1px;
	background-color: #F1070B;
	text-align:center;
	}
	
