body {
	background-color: #FFFFFF;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
   	padding: 0;
	font-size:15px;
	width:100%;
	height:100%;
	}
	
.contenedor {
	position:relative;
	padding-top:40px;
	}
	
/* 
	CONTENIDO:
	-INICIO
*/

section {
	margin-right:320px;
	margin-left:150px;
	}
	
@media screen and (max-width: 1024px){
	section {
		margin-left:0px;
	}
}

@media screen and (max-width: 768px){
	section {
		margin-right:0px;
	}
}
	
/*
	POST - PUBLICACION
*/
article {
	
	}
	
#contenido-contenedor {
	background-color: #FFFFFF;
	text-align: left;
	word-wrap: break-word;
	}

#contenido {
	border-style:solid;
	border-bottom-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	
	}
	
#contenido_arriba {
	height:100px;
	background-size:cover;
	}

#contenido_arriba_imagen-perfil {
	float:left;
	width:80px;
	padding:10px;
	margin-right:1%;

	}
#contenido_arriba_nombre {
	float:left;
	margin-top:30px;
	font-size:15px;
	background-color:#FF8F32;
	color:#FFFFFF;

	}
	
#contenido_arriba_fecha {
	float:right;
	background-color:#FF8F32;
	color:#FFFFFF;
	padding:5px;
	}
	
#contenido_central {
	text-align:center;
	margin-left:20%;
	margin-right:20%;
	}
	
@media screen and (max-width: 1024px){
	#contenido_central {
		margin-left:5%;
		margin-right:5%;
	}
}

@media screen and (max-width: 768px){
	#contenido_central {
		margin-left:0%;
		margin-right:0%;
	}
}

#contenido_abajo {
	text-align:center;
	height:40px;
	background-color:#FF8F32;
	}
	
#contenido_abajo_megusta {
	float:right;
	}
	
#contenido_abajo_megusta_boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#contenido_abajo_favoritos {
	float:right;
	}
	
#contenido_abajo_favoritos_boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#contenido_abajo_guardar {
	float: right;

	}

#contenido_abajo_guardar_boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#publicaciones-principal-final {
	background-color: #FF8F32;
	border-style:solid;
	border-left-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	}
	
#publicaciones-principal-boton_anterior {
	color: #FFFFFF;
	font-size: 10px;
	background-color:#FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	border-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	}
	
#publicaciones-principal-boton_siguiente {
	color: #FFFFFF;
	font-size: 10px;
	background-color:#FF8F32;
	border:none;
	border-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
/* 
	Comentarios
*/

#comentarios {
	font-size:20px;
	padding:5px;
	background-color:#FF8F32;
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
	}
	
#comentario_enviar {
	background-color:#FF8F32;
	color:#FFFFFF;
	text-transform:uppercase;
	padding:10px;
	}
	
#comentario_enviar-comentario {
	font-size:15px;
	text-align:center;
	}
	
#comentario_enviar-text {
	width:99%;
	max-width:100%;
	}
	
#comentario_enviar-boton {
	text-align:center;
	width:100%;
	}
	
#comentario_iniciar-sesion {
	text-align:center;
	background-color:#FF8F32;
	color:#FFFFFF;
	padding:5px;
	font-weight:900;
	}
	
#comentario_sin-comentarios {
	color: #000000;
	background-color:#FF8F32;
	padding:5px;
	margin-top:5px;
	font-weight:900;
	text-align:center;
	}
/* 
	CONTENIDO:
	-PERFIL
*/
/* 
	CONTENIDO:
	-PERFIL: PARTE SUPERIOR
*/

#perfil-contenedor {
	
	height:100%;
	background-size:cover;
	border-style:solid;
	border-width:1px;
	border-bottom-style:none;
	}

#perfil-fondo-imagen_perfil {
	height:200px;
	width:200px;
	margin-top:20px;
	margin-left:20px;
	background:#FFFFFF;
	border-style:solid;
	border-width:1px;
	position:absolute;
	}

#perfil-fondo-contenido_fondo {
	margin-left:220px;
	}
	
#perfil-fondo-contenido {
	padding-top:60px;
	padding-left:5%;
	}

#perfil-fondo-contenido-nombre span{
	font-size:40px;
	background-color:#FF8F32;
	color:#FFFFFF;
	}
	
#perfil-fondo-contenido-cuenta span{
	font-size:20px;
	background-color:#FF8F32;
	color:#FFFFFF;
	}

#perfil-fondo-contenido-datos {
	text-align:center;
	margin-top:120px;
	height:42px;
	border-style:solid;
	background-color:rgba(0,0,0,0.31);
	}
	
#perfil-fondo-contenido-datos_publicaciones {
	float:right;
	border-width:1px;
	border-style:solid;
	}
	
#perfil-fondo-contenido-datos_publicaciones_boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#perfil-fondo-contenido-datos_seguidores {
	float:right;
	border-width:1px;
	border-style:solid;
	border-right-style:none;
	}
	
#perfil-fondo-contenido-datos_seguidores_boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#perfil-fondo-contenido-datos_siguiendo {
	float: right;
	border-style:solid;
	border-top-width:1px;
	border-bottom-width:1px;
	}

#perfil-fondo-contenido-datos_siguiendo_boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FF8F32;
	border:none;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}