body {
	background-image:url(../../imagenes/fondo.png);
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin: 0;
   	padding: 0;
	font-size:15px;
	}
	
.contenedor {
	width: 100%;
	min-width:100px;
	max-width:1580;
	margin: 0px auto;
	}
	
/*
	ENCABEZADO 
*/
	
header {
	background-color: #F3B52F;
		}
		
#titulo {
	float: left;
	color: #F98300;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	}
	
@media screen and (max-width: 480px){
	#titulo {
		font-size:30px;
	}
}
#login {
	float: right;
	}
	
#login-boton {
	font-size:20px;
	background-color:rgba(251,251,251,1.00);
	}
	
#entrar {
	font-size: 10px;
	float:right;
	}
	
	
@media screen and (max-width: 480px){
#entrar {
	float: none;
	width: 100%;
	}
}
		
nav {
	background-color: #FBE4C8;
	clear:both;
	text-align: center;
	}
	
nav ul li {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #F89200;
	font-variant: small-caps;
	text-transform: uppercase;	
	}
	
nav ul li a:link{
	color: #FF5700;
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}
	
nav ul li a:visited{
	color: #FF5700;	
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}
	
nav ul li a:hover{
	text-shadow: 0px 0px 5px #FB0202;
	}
	
nav ul li a:active{
	-webkit-box-shadow: inset 0px 0px 5px 0px #000000;
	box-shadow: inset 0px 0px 5px 0px #000000;
	}

/* 
	CONTENIDO GLOBAL
*/

section {
	float: left;
	width: 75%;
	margin-bottom:20px;
	}
	
#contenido {
	background-color:rgba(255,168,5,0.48);
	text-align: left;
	word-wrap: break-word;
	}
	
#contenido_arriba_nombre {
	float:left;
	}
	
#contenido_arriba_fecha {
	float:right
	}
	
#contenido_central {
	clear:both
	}
/* 
	BARRA LATERAL 
*/
aside {
	width:25%;
	float: right;
	background-image: url(../../imagenes/fondo_contenido.png);
	margin-bottom:20px; /* REVISAR */
	}

/* 
	PIE 
*/
footer {
	background-color: rgba(255,168,5,0.48);
	clear: both;
	text-align:center;
	
	}
	
