/*
	HEADER
*/
	
header {
	position:fixed;
	z-index:9999;
	background-color: #FF8F32;
	width:100%;
	height:40px;
	border-bottom-style: solid;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	box-shadow: 1px 2px 3px #888888;
}

#header-titulo {
	float: left;
	}
		
#titulo {
	color: #FFFFFF;
	font-size: 25px;
	background-color: #FF8F32;
	text-transform:uppercase;
	font-weight: 900;
	border:none;
	height:40px;
	}
	
@media screen and (max-width: 480px){
	#titulo {
		font-size:30px;
	}
}
 
/*
	HEADER:
	-Login BOTON
*/
#login {
	float: right;
	}
	
#login-boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: transparent;
	border:none;
	border-left-style:solid;
	border-left-color:#000000;
	border-left-width:1px;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}

#entrar {
    display: block;
    position: absolute;
	right:0;
    top: 40px;
	z-index:1000;
    width:300px;
	background-color: #FF8F32;
	color: #000000;
	border-style:solid;
	border-width:1px;
	text-align:center;
	box-shadow: 1px 2px 5px #888888;
	}
	
@media screen and (max-width: 480px){
#entrar {
	float: none;
	width: 100%;
	}
}

#menu-entrar-email {
	margin-top:10px;
	width:90%;
	}
	
#menu-entrar-password {
	width:90%;
	}
	
#menu-entrar-ncsesion_submit {
	margin-left:5%;
	margin-top:5px;
	margin-right:5%;
	margin-bottom:30px;
}

#menu-entrar-ncsesion-div {
	float:left;
	font-size: 12px;
	font-weight:900;
	color:#FFFFFF;
	text-transform:uppercase;
	}

#menu-entrar-submit {
	float:right;
	color: #FFFFFF;
	font-size: 10px;
	background-color: #FFA600;
	border:none;
	height:20px;
	text-transform:uppercase;
	font-weight:900;
	}
	
/*
	HEADER:
	-Iniciar sessión BOTON
*/
#create_acc {
	float: right;
	}
	
#create-boton {
	color: #FFFFFF;
	font-size: 10px;
	background-color: transparent;
	border:none;
	border-left-style:solid;
	border-left-color:#000000;
	border-left-width:1px;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
/*
	HEADER:
	-Propieadades
*/
#header-propieades {
	float: right;
	}
	
#boton-propiedades {
	color: #FFFFFF;
	font-size: 10px;
	background-color: transparent;
	border:none;
	border-left-style:solid;
	border-left-color:#000000;
	border-left-width:1px;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#header-menu-propiedades {
	text-align:left;
	margin-left:5%;
	margin-right:5%;
	}
		
@media screen and (max-width: 480px){
#header-menu-propiedades ul li {
	display:inline;
	}
}

/*
	HEADER:
	-Perfil
*/
#header-perfil {
	float: right;
	}
	
#boton-perfil {
	color: #FFFFFF;
	font-size: 10px;
	background-color: transparent;
	border:none;
	border-left-style:solid;
	border-left-color:#000000;
	border-left-width:1px;
	height:40px;
	text-transform:uppercase;
	font-weight:900;
	}
	
#header-perfil-imagen {
	float:left;
	width:40px;
	height:40px;
	}
	
#header-perfil-nombre {
	float:left;
	margin-top:15px;
	}