/* 
	NAV - Barra lateral izquierda
*/

nav {
	position: fixed;
	width:140px;
	top:0;
	margin-left:0px;
	background-color: #FFFFFF;
	visibility: visible;
	height:100%;
	border-right-style:solid;
	border-right-color:#D3D3D3;
	border-right-width:1px;
	z-index:1;
	/*overflow-y: scroll;*/ 
	}
	
@media screen and (max-width: 1024px){
nav {
	display:none;
	}
}

#nav-superior-espacio {
	height:40px;
}

#nav-content {
	text-align:left;
	border-style:solid;
	border-top-width:1px;
	border-top-color:#D3D3D3;
	padding-top:10px;
}

#nav-content div {
	padding-left:30px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
	}
	
#nav-content div:hover{
	background-color: #FF9600;
	color:#FFFFFF;
	}