/* 
	NAV - Barra lateral izquierda
*/

nav {
	position: absolute;
	width:140px;
	height:1000px;
	margin-top:10px;
	margin-left:10px;
	background-color: #FFFFFF;
	visibility: visible;
	}
	
@media screen and (max-width: 1024px){
nav {
	display:none;
	border-style:solid;
	border-width:1px;
	margin-top:0px;
	margin-left:0px;
	height:100%;
	}
}

/* REVISAR
@media screen and (max-width: 768px){
nav {
	width:100%;
	}
}
*/	

nav ul li {
	font-size: 15px;
	}
	
nav ul li a:link{
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}
	
nav ul li a:visited{
	text-decoration:none;
	margin-left:10px;
	margin-right:10px;
	}
	
nav ul li a:hover{
	text-shadow: 0px 0px 5px #FB0202;
	}
	
nav ul li a:active{
	-webkit-box-shadow: inset 0px 0px 5px 0px #000000;
	box-shadow: inset 0px 0px 5px 0px #000000;
	}