aside {
	float:left;
	width: 310px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:40px;
	}
	
@media screen and (max-width: 958px){
	aside {
		visibility:hidden;
		margin:0px;
	}
}

#publicidad {
	margin-bottom:10px;
	background-color: #FFFFFF;
	padding:10px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}
	
#publicidad:hover {
	background-color:#F7F7F7;	
}

