aside {
	position: absolute;
	top:0;
	right: 0;
	width: 310px;
	margin-top:50px;
	margin-right:10px;
	margin-bottom:40px;
	}
	
@media screen and (max-width: 768px){
	aside {
		visibility:hidden;
	}
}

#publicidad {
	margin-bottom:10px;
	background-color: #FFFFFF;
	padding:10px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}
	
#publicidad:hover {
	background-color:#F7F7F7;	
}

