body {
	margin: 0;
   	padding: 0;
	font-size:15px;
	font-family: ubuntu;
	width:100%;
	height:100%;
	background-color: #f1f1f1;
	}
	
.contenedor {
	position:relative;
	padding-top:40px;
	}
	
/* 
	CONTENIDO:
	-INICIO
*/

section {
	margin-right:330px;
	margin-left:150px;
	margin-top:10px;
	}
	
@media screen and (max-width: 1024px){
	section {
		margin-left:10px;
	}
}

@media screen and (max-width: 768px){
	section {
		margin-right:10px;
	}
}

.fondo {
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}
	

