body {
	margin: 0;
   	padding: 0;
	font-size:15px;
	font-family: ubuntu;
	width:100%;
	height:100%;
	background-color: #f1f1f1;
	}
	
.contenedor {
	padding-top:40px;
	}
	
/* 
	CONTENIDO:
	-INICIO
*/
#contenedor-central {
	margin: 0 auto;
	width:930px;
	margin-top:10px;

	}
	
@media screen and (max-width: 1300px){
#contenedor-central {
	margin-left:190px;
	}
}

@media screen and (max-width: 1130px){
	#contenedor-central {
		margin: 0 auto;
		margin-top:10px;
	}
}

@media screen and (max-width: 958px){
	#contenedor-central {
		margin:0;
		margin-top:10px;
		width:90%;
	}
}
	
section {
	width:600px;
	float:left;
	margin-bottom:50px;
	}
	
@media screen and (max-width: 958px){
	section {
	width:100%;
	margin-left:5%;
	margin-right:5%;
	float:left;
	}
}

.fondo {
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}
	

