#footer_contenido {
	background-color: #FFFFFF;
	text-align:left;
	height:40px;
	margin-top:10px;
	position:fixed;
 	bottom:0;
 	width:100%;
	z-index:2;
	}
	

	
#footer-left-content {
	position:absolute;
	width:180px;
	text-align:center;
	}
	
#footer-right-content {
	height: 40px;
	margin-left: 180px;
	border-top-style: solid;
	border-top-color:#D3D3D3;
	border-top-width: 1px;
	}
	
#footer_contenido ul li {
	padding-bottom:5px;
	text-align:center;
	}
	
#footer_contenido ul li:hover {
	text-decoration:underline;
	}
	
