#footer_contenido {
	background-color: #FFFFFF;
	color:#B3B3B3;
	text-align:left;
	height:50px;
	padding:20px;
	margin-top:10px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}
	
#footer_contenido:hover {
	color:#FF8E00;
	background-color: #F7F7F7;
	}
	
#footer_contenido ul li {
	padding-bottom:5px;
	text-align:center;
	}
	
#footer_contenido ul li:hover {
	text-decoration:underline;
	}
	
