/*
	HEADER
*/
	
header {
	position:fixed;
	z-index:2;
	background-color: #FFFFFF;
	width:100%;
	height:40px;
}

#header-content-left {
	position:absolute;
	width:140px;
}

@media screen and (max-width: 1024px){
	#header-content-left {
		border-bottom-style: solid;
		border-bottom-color:#D3D3D3;
		border-bottom-width: 1px;
	}
}

#header-nav_boton {
	float:left;
	visibility:hidden;
	width:0px;
	}
	
@media screen and (max-width: 1024px){
	#header-nav_boton {
		visibility:visible;
		width:40px;
		height:40px;
		
	}
}

#header-nav_boton:hover {
	background-color: #D1D1D1;
}

#nav_boton {
	width:40px;
	height:40px;
	background-color:inherit;
	border:none;
	font-weight:bold;
	}
	
#header-nav_boton-div {
	border-style:solid;
	border-width:2px;
	border-color:#FF8E00;
	border-radius:5px;
	margin:5px;
}

#header-titulo {
	float: left;
	font-size: 20px;
	margin-left:5px;
	background-color: inherit;
	border:none;
	padding-top:5px;
	color: #FF9600;
	}
	
@media screen and (max-width: 1024px){
	#header-titulo {
		margin-left:0px;
	}
}

#titutlo-boton {
	font-size: 12px;
	height:30px;
	background-color:#FFFFFF;
	}
	
#titulo-logo {
	float:left;
	width:26px;
	height:26px;
	margin-left:2px;
	margin-top:1px;
	border-radius:4px;
	font-size:25px;
	color:#FFFFFF;
	background-color: #FF8600;
	}
	
#titulo-text {
	float:left;
	margin-top:5px;
	padding-left:2px;
	padding-right:5px;
	font-size:20px;
	visibility: visible;
	}
	
#header-content-right {
	height: 40px;
	margin-left: 140px;
	border-bottom-style: solid;
	border-bottom-color:#D3D3D3;
	border-bottom-width: 1px;
}

#header-buscador {
	float:left;
	height:26px;
	margin-top:5px;
	margin-bottom:5px;
	border-style:solid;
	border-width:2px;
	border-color: #FF9600;
	border-radius:5px;
}

@media screen and (max-width: 768px){
	#header-buscador {
		float:right;
		border:none;
		height:30px;
		border-radius:5px;
	}
	
	#header-buscador:hover {
		background-color:#FF8E00;
	}
}

#header-buscador-input-div {
	float:left;
	padding-top:3px;
	padding-left:6px;
	padding-right:6px;
}

@media screen and (max-width: 768px){
	#header-buscador-input-div {
		padding:0px;
	}
}

#header-buscador-input {
	height:20px;
	width:320px;
	outline:none;
	border-radius:15px;
	padding-left:5px;
	padding-right:5px;
}

@media screen and (max-width: 1024px){
	#header-buscador-input {
		
		padding:0px;
	}
}

@media screen and (max-width: 768px){
	#header-buscador-input {
		width:0px;
		height:30px;
		visibility:hidden;
	}
}

#header-buscador-submit-div {
	float:left;
	padding-top:3px;
	padding-right:10px;
}

@media screen and (max-width: 768px){
	#header-buscador-submit-div {
		padding:0px;
	}
}

#header-buscador-submit {
	height:20px;
	background-image: url(static-content/buscar.png);
}

@media screen and (max-width: 768px){
	#header-buscador-submit {
		padding:0px;
		height:30px;
		border:none;
	}
}
/*
	HEADER:
	-Login BOTON
*/
#login {
	float: right;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:5px;
	}
	
#login-boton {
	font-size: 13px;
	color:#FFFFFF;
	background-color: #FF9600;
	border:none;
	height:30px;
	border-radius:5px;
	padding-right:5px;
	padding-left:5px;
	}
	
#login-boton:hover{
	background-color: #CF6D00;
	}

#entrar {
    display: block;
    position: absolute;
	right:0;
    top: 40px;
	z-index:1000;
    width:340px;
	background-color: #FFFFFF;
	border-style:solid;
	border-width:1px;
	border-color:#D3D3D3;
	text-align:center;
	}
	
@media screen and (max-width: 768px){
#entrar {
	float: none;
	width: 100%;
	}
}

#menu-entrar-email {
	margin-top:10px;
	height:24px;
	width:90%;
	border:none;
	border-style:solid;
	border-width:1px;
	border-color:#D3D3D3;
	border-radius:5px;
	}
	
#menu-entrar-password {
	margin-top:5px;
	height:24px;
	width:90%;
	border:none;
	border-style:solid;
	border-width:1px;
	border-color:#D3D3D3;
	border-radius:5px;
	}
	
#menu-entrar-ncsesion_submit {
	margin-left:5%;
	margin-top:10px;
	margin-right:5%;
	margin-bottom:50px;
}

#menu-entrar-ncsesion-div {
	float:left;
	font-size: 12px;
	}
	
#menu-entrar-ncsesion {
	margin-top:5px;
}

#menu-entrar-submit-div {
		float:right;
	}
	
#menu-entrar-submit {
	font-size: 13px;
	color:#FFFFFF;
	background-color: #FF9600;
	border:none;
	height:30px;
	border-radius:5px;
	padding-right:5px;
	padding-left:5px;
	}
	
/*
	HEADER:
	-Iniciar sessión BOTON
*/
#create_acc {
	float: right;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
	}
	
#create-boton {
	font-size: 13px;
	color:#FFFFFF;
	background-color: #FF0004;
	border:none;
	height:30px;
	border-radius:5px;
	padding-right:5px;
	padding-left:5px;
	}
	
#create-boton:hover{
	background-color: #CB0000;
	}
/*
	HEADER:
	-Propieadades
*/
#header-propieades {
	float: right;
	height:30px;
	width:30px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	}
	
#boton-propiedades {
	background-color:#FFFFFF;
	float:left;
	height:30px;
	}
	
#boton-propiedades:hover {
	background-color:#FF9600;
	border-radius:5px;
	}
	
#header-menu-propiedades {
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
	}

#header-menu-propiedades ul li {
	background-color:#FFFFFF;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:15px;
	}

#header-menu-propiedades ul li:hover {
	background-color: #FF9600;
	color:#FFFFFF;
	}
	
	
	
/*
	HEADER:
	-Perfil
*/
#header-perfil {
	float: right;
	margin-right:5px;
	height:40px;
	padding-top:5px;
	}
	
#boton-perfil {
	font-size: 12px;
	height:30px;
	background-color: #FF9600;
	border-radius:5px;
	}
	
@media screen and (max-width: 768px){
	#boton-perfil {
		border:none;
		background-color: #FFFFFF;
	}
}

#boton-perfil:hover {
	background-color:#CF6D00;
}
	
#header-perfil-imagen {
	float:left;
	width:26px;
	height:26px;
	margin-left:2px;
	border-radius:15px;
	}
	
@media screen and (max-width: 768px){
	#header-perfil-imagen {
		margin-left:0px;
		width:30px;
		height:30px;
	}
}
	
#header-perfil-nombre {
	float:left;
	color:#FFFFFF;
	margin-top:7px;
	padding-left:5px;
	padding-right:5px;
	visibility: visible;
	}

@media screen and (max-width: 768px){
#header-perfil-nombre {
	visibility:hidden;
	padding:0px;
	width:0px;
	}
}
