/*
	INTRO
*/

#intro {
	background-color:#FF8E00;
}

#intro-cabezera {
	height:300px;;
}

#intro-cabezera-texto {
	float:left;
	font-size:30px;
	font-weight:bold;
	padding:5px;
	width:50%;
	margin-top:30px;
	margin-left:30px;
}

#intro-cabezera-texto_1 {
	color:#FFFFFF;
	float:left;
}

#intro-cabezera-texto_2 {
	margin-top:20px;
	font-weight: lighter;
	color:#FFFFFF;
	font-size:25px;
	float:left;
}

#intro-abajo {
	position:relative;
	margin-top:10px;
	}
	
#intro-content {
	margin-right:320px;
	height:500px;
	}
	
@media screen and (max-width: 768px){
	#intro-content {
		margin-right:0px;
	}
}

	
#intro-footer {
	margin-right:320px;
	margin-top:10px;
	}
	
@media screen and (max-width: 768px){
	#intro-footer {
		margin-right:0px;
	}
}

	
#intro-aside {
	right:0;
	top:0;
	position:absolute;
	width: 310px;
	}
	
@media screen and (max-width: 768px){
	#intro-aside {
		visibility:hidden;
		width:0;	
		}
}
	
#intro-aside-content {
	margin-bottom:10px;
	background-color: #FFFFFF;
	padding:10px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}