/* 
	NAV - Barra lateral izquierda
*/

nav {
	position: fixed;
	width:180px;
	top:0;
	margin-left:0px;
	background-color: #FFFFFF;
	visibility: visible;
	height:100%;
	border-right-style:solid;
	border-right-color:#D3D3D3;
	border-right-width:1px;
	z-index:1;
	/*overflow-y: scroll;*/ 
	}
	
@media screen and (max-width: 1130px){
nav {
	display:none;
	}
}

#nav-superior-espacio {
	height:50px;
}

.nav-content {
	font-size: 12px;
	height:30px;
	margin-left:10px;
	margin-right:10px;
	width:160px;
	background-color: #FFFFFF;
	padding-left:3px;
	outline:none;
}

.nav-content:hover {
	background-color: #3A3A3A;
	color:#FFFFFF;
	}

#nav-content-stay {
	background-color: #FF9600;
	color: #FFFFFF;
}

#nav-content-image {
	float:left;
	width:20px;
	height:20px;
	margin-left:2px;
	background-color:#FF9600;
	}
	
#nav-content-text {
	float:left;
	padding-left:5px;
	padding-right:5px;
	font-size:13px;
	margin-top:3px;
	visibility: visible;
	}
	
#nav-hr {
	border-style:solid;
	border-color:#D3D3D3;
	border-bottom-width:1px;
	margin:10px;
}