/* 
	NAV - Barra lateral izquierda
*/

nav {
	position: fixed;
	width:140px;
	top:0;
	margin-left:0px;
	background-color: #FFFFFF;
	visibility: visible;
	height:100%;
	border-right-style:solid;
	border-right-color:#D3D3D3;
	border-right-width:1px;
	z-index:1;
	/*overflow-y: scroll;*/ 
	}
	
@media screen and (max-width: 1024px){
nav {
	display:none;
	}
}

#nav-superior-espacio {
	height:50px;
}

.nav-content {
	font-size: 14px;
	height:40px;
	width:100%;
	background-color: #FFFFFF;
	padding-left:10px;
}

.nav-content:hover {
	background-color: #F3F3F3;
}

#nav-content-stay {
	background-color: #FF9600;
	color: #FFFFFF;
}

#nav-content-image {
	float:left;
	width:15px;
	height:15px;
	margin-left:2px;
	background-color:#FF9600;
	padding:4px;
	border-radius:5px;
	}
	
#nav-content-text {
	float:left;
	padding-left:5px;
	padding-right:5px;
	padding-top:4px;
	visibility: visible;
	}
	
#nav-hr {
	border-style:solid;
	border-color:#D3D3D3;
	border-bottom-width:1px;
	margin:10px;
}