/* 
	CONTENIDO:
	-PERFIL
*/
/* 
	CONTENIDO:
	-PERFIL: PARTE SUPERIOR
*/

#perfil-contenedor {
	height:100%;
	margin-bottom:10px;
	}

#perfil-fondo-imagen_perfil {
	height:200px;
	width:200px;
	margin-top:20px;
	margin-left:20px;
	background:#FFFFFF;
	border-style:solid;
	border-width:1px;
	position: absolute;
	}
	
@media screen and (max-width: 768px){
	#perfil-fondo-imagen_perfil {
		position: static;
		margin-left:0px;
		margin-bottom:5px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
}

#perfil-fondo-contenido_fondo {
	margin-left:220px;
	}
	
@media screen and (max-width: 768px){
	#perfil-fondo-contenido_fondo {
		margin-left:0px;
		text-align:center;
	}
}
	
#perfil-fondo-contenido {
	margin-top:60px;
	padding-left:5%;
	}
	
@media screen and (max-width: 768px){
	#perfil-fondo-contenido {
		margin-top:0px;
		padding-left:0;
	}
}

#perfil-fondo-contenido-nombre span{
	font-size:40px;
	font-weight:bold;
	}
	
#perfil-fondo-contenido-cuenta span{
	font-size:20px;
	color: #5F5F5F;
	}

#perfil-fondo-contenido-datos {
	text-align:center;
	height:42px;
	border-style:solid;
	background:#FFFFFF;
	margin-top:120px;
	border-style: solid;
	border-color: #D3D3D3;
	border-top-width: 1px;
	}
	
@media screen and (max-width: 768px){
	#perfil-fondo-contenido-datos {
		margin-top:5px
	}
}
	
#perfil-fondo-contenido-datos_publicaciones {
	float:right;
	}
	
#perfil-fondo-contenido-datos_publicaciones_boton {
	color: #000000;
	font-size: 11px;
	border:none;
	height:42px;
	font-weight: lighter;
	background-color:#FFFFFF;
	text-transform:uppercase;
	padding-left:5px;
	padding-right:5px;
	}
	
#perfil-fondo-contenido-datos_publicaciones_boton:hover {
	color:#FF8E00;
	}
	
#perfil-fondo-contenido-datos_seguidores {
	float:right;
	}
	
#perfil-fondo-contenido-datos_seguidores_boton {
	color: #000000;
	font-size: 11px;
	border:none;
	height:42px;
	font-weight: lighter;
	background-color:#FFFFFF;
	text-transform:uppercase;
	padding-left:5px;
	padding-right:5px;
	}
	

#perfil-fondo-contenido-datos_seguidores_boton:hover {
	color:#FF8E00;
	}
	
#perfil-fondo-contenido-datos_siguiendo {
	float:right;
	}

#perfil-fondo-contenido-datos_siguiendo_boton {
	color: #000000;
	font-size: 11px;
	border:none;
	height:42px;
	font-weight: lighter;
	background-color:#FFFFFF;
	text-transform:uppercase;
	padding-left:5px;
	padding-right:5px;
	}
	
#perfil-fondo-contenido-datos_siguiendo_boton:hover {
	color:#FF8E00;
	}
	
#perfil-publicaciones {
	margin-right:320px;	
	}
	
@media screen and (max-width: 768px){
	#perfil-publicaciones {
		margin-right:0px;
	}
}

#perfil-aside {
	right:0;
	top:345px;
	position:absolute;
	width: 310px;
	margin-right:10px;
	}
	
@media screen and (max-width: 768px){
	#perfil-aside {
		visibility:hidden;
		width:0px;	
		}
}

#perfil-aside-content {
	margin-bottom:10px;
	background-color: #FFFFFF;
	padding:10px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}