/*
	enviar_publicacion.php
*/

#publicar {

	}

#publicar-form {
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;;
	}

@media screen and (max-width: 1024px){
	#publicar-form {
		margin-left:5%;
		margin-right:5%;
	}
}

@media screen and (max-width: 768px){
	#publicar-form {
		margin-left:1%;
		margin-right:2%;
	}
}

#publicar-form-publicacion {
	width:99%;
	height:50px;
	margin-bottom:10px;
	margin-top:3px;
	border-style:solid;
	padding-left:5px;
	border-width:1px;
	border-color:#D3D3D3;
	border-radius:5px;
	}

#publicar-form-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
	border-color:#FF8E00;
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	padding:40px;
	text-align:center;
	background-color: #FFFBF7;
	}

#publicar-form-file-input {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 10000px;
    border: 10000px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    right: -1000px;
    top: -1000px;
    cursor: pointer;
	}
	
#publicar-form-file-text {
	font-size:20px;
	color:#FF8E00;
	}
	
#publicar-form-submit {
	color: #FFFFFF;
	font-size: 20px;
	background-color: #FFA600;
	border:none;
	height:40px;
	width:100%;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:5px;
	}
	
#publicar-form-submit:hover {
	background-color: #CF6D00;
	}