/*
	POST - PUBLICACION
*/
article {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	}
	
article:hover {
	background-color: #F7F7F7;
	}
	
#contenido-contenedor {
	word-wrap: break-word;
	}

#contenido {

	}
	
#contenido_arriba {
	height:70px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-color:#D3D3D3;
	}

#contenido_arriba_imagen-perfil {
	float:left;
	width:60px;
	padding:5px;
	}
	
#contenido_arriba_nombre {
	float:left;
	margin-top:20px;
	font-size:15px;
	}
	

	
#contenido_arriba_nombre_nombre {
	font-weight:bold;
	}
	
#contenido_arriba_nombre_nombre:hover {
	color: #FF8E00;
	text-decoration: underline;
	}
	
#contenido_arriba_nombre_cuenta {
	font-weight:lighter;
	color: #5F5F5F;
	font-size:13px;
	}
	
#contenido_arriba_fecha {
	float:right;
	padding:5px;
	font-size:12px;
	color: #5F5F5F;
	}
	
#contenido_central {
	padding-bottom:10px;
	text-align:center;
	font-size:14px;
	}


#contenido-central-image {
	margin-bottom:5px;	
	}
	
#contenido-central-text {
	
	}
	
#contenido_abajo {
	text-align:center;
	height:30px;
	border-top-width:1px;
	border-top-style:solid;
	border-color:#D3D3D3;
	}
	
#contenido_abajo_megusta {
	float:right;
	}
	
#contenido_abajo_megusta_boton {
	font-size: 10px;
	background-color: inherit;
	border:none;
	height:30px;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	}

#contenido_abajo_megusta_boton:hover {
	color: #FF8E00;
	text-decoration: underline;
}

#contenido_abajo_favoritos {
	float:right;
	}
	
#contenido_abajo_favoritos_boton {
	font-size: 10px;
	background-color:inherit;
	border:none;
	height:30px;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	}
	
#contenido_abajo_favoritos_boton:hover {
	color: #FF8E00;
	text-decoration: underline;
}
	
#contenido_abajo_guardar {
	float: right;
	}

#contenido_abajo_guardar_boton {
	font-size: 10px;
	background-color: inherit;
	border:none;
	height:30px;
	font-weight:bold;
	padding-left:5px;
	padding-right:5px;
	}
	
#contenido_abajo_guardar_boton:hover {
	color: #FF8E00;
	text-decoration: underline;
}
	
a.mostrar_mas {
    display: block;
    text-decoration: none;
	background-color:#FFFFFF;
	text-align:center;
	color:#FF8E00;
	padding:10px;
	font-size:16px;
	font-weight:lighter;
	margin-bottom:50px;
}

a.mostrar_mas:hover {
	background-color: #F7F7F7;
	text-decoration: underline;
}

/* 
	Comentarios
*/

#comentarios {
	font-size:20px;
	padding:5px;
	margin-bottom:10px;
	font-weight: lighter;
	}
	
#comentario_enviar {
	background-color:#FFFFFF;
	padding:10px;
	margin-bottom:10px;
	}
	
#comentario_enviar-comentario {
	font-size:15px;
	margin-bottom:10px;
	}
	
#comentario_enviar-text {
	width:100%;
	border-width:1px;
	border-style:solid;
	border-color:#D3D3D3;
	border-radius:5px;
	}
	
#comentario_enviar-boton {
	text-align:center;
	width:100%;
	color:#FFFFFF;
	text-transform:uppercase;
	padding:5px;
	font-weight:bold;
	border-radius:5px;
	background-color: #FF8E00;
	margin-top:5px;
	}
	
#comentario_enviar-boton:hover {
	background-color:#CF6D00;	
}
	
#comentario_iniciar-sesion {
	text-align:center;
	background-color: #FFFFFF;
	border-top-style:solid;
	border-top-width:1px;
	margin-bottom:10px;
	padding:5px;
	font-weight: lighter;
	}
	
#comentario_sin-comentarios {
	color: #000000;
	background-color: #FFFFFF;
	padding:5px;
	margin-top:5px;
	font-weight:bold;
	text-align:center;
	}