/*
	enviar_publicacion.php
*/

#publicar {

	}

#publicar-form {
	padding-top:10px;
	margin-left:20%;
	margin-right:20%;
	}

@media screen and (max-width: 1024px){
	#publicar-form {
		margin-left:5%;
		margin-right:5%;
	}
}

@media screen and (max-width: 768px){
	#publicar-form {
		margin-left:1%;
		margin-right:2%;
	}
}

#publicar-form-publicacion {
	width:98%;
	height:50px;
	margin-bottom:10px;
	margin-top:3px;
	border-style:solid;
	padding-left:5px;
	border-width:1px;
	border-color:#D3D3D3;
	border-radius:5px;
	}

#publicar-form-file {
	text-align:center;
	margin-bottom:10px;
	}
	
#publicar-form-submit {
	color: #FFFFFF;
	font-size: 20px;
	background-color: #FFA600;
	border:none;
	height:40px;
	width:100%;
	font-weight:bold;
	margin-bottom:10px;
	border-radius:5px;
	}
	
#publicar-form-submit:hover {
	background-color: #CF6D00;
	}