/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.container {
	padding-right: 5px;
	padding-left: 5px;
	}
	
@media (min-width: 768px) {
  .container {
    max-width: 860px;
  }
}

.container-fluid {
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}
	
@media (min-width: 992px) {
	.section {
		width:520px;
	}
}

.section-image {
	 background: url(../../../static-content/fondo.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top:5px;
	}
	
.navbar-default .navbar-brand {
  color: #FF8E00;
  font-weight:bold;
  padding-left:5px;
  padding-right:10px;
}

.navbar {
	background: #FFFFFF;
	border-style: solid;
	border-color: #D3D3D3;
	border-bottom-width: 1px;
	border-radius: 4px;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -5px;
  margin-left: -5px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -5px;
  }
}

.navbar-toggle {
	float:left;
	margin-right:0px;
	margin-left:5px;	
}

.navbar-xs {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  margin-right: 7.5px;
}

.well-bl {
	background-color:#FFFFFF;
	padding: 10px;
  	border-radius: 3px;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	margin-bottom:10px;
	margin-top:10px;
	word-wrap: break-word;
	}
	
.well-bl-1 {
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	word-wrap: break-word;
	margin-bottom:5px;
	padding:5px;
	}
	
.well-bl-2 {
	background-color:#FFFFFF;
	border-style: solid;
	border-color: #D3D3D3;
	border-width: 1px;
	border-radius: 4px;
	word-wrap: break-word;
	margin-bottom:5px;
}

@media (max-width: 330px) {
	.well-bl-2 {
		margin-left:-5px;
	}
 }
.img-perfil {
	width:90px;
	height:auto;
	display:block;
	}
.image-sm {
	width:40px;
	height:auto;
	display:block;
	}

.image-md {
	max-width:490px;
	height:auto;
	display:block;
}

@media (max-width: 768px) {
	.image-md {
		max-width:100%;
	}
 }
 
 .img-xs {
	max-width:19px;
	height:auto;
	display:block;
	 }
 
.pb-top {
	border-bottom-style: solid;
	border-bottom-color: #D3D3D3;
	border-bottom-width: 1px;
	padding-bottom:5px;
	margin-bottom:5px;
	}
	
.pb-ftpf {
	margin-right:5px;
	}
	
.pb-pb {
	max-width:490px;
	}
	
.pb-text {
	margin-top:5px;
	display:block;
}

@media (max-width: 768px) {
	.pb-text {
		max-width:100%;
	}
 }
 
.pb-bottom {
	border-top-style: solid;
	border-top-color: #D3D3D3;
	border-top-width: 1px;
	padding-top:5px;
	margin-top:5px;
	}
	
a {
  color: #FF8E00;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #FF8E00;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.a-clear, .a-clear:focus, .a-clear:hover {
	color:#000000;
	text-decoration: none;
	}

#publicar-form-file {
    overflow: hidden;
    position: relative;
    cursor: pointer;
	padding:40px;
	text-align:center;
	background-color: #F1F1F1;
	}
	
#publicar-form-file:hover {
	background-color:#F9F9F9;
	}

#publicar-form-file-input {
    margin: 0;
    padding: 0;
    outline: 0;
    opacity: 0;
	font-size: 10000px;
    border: 10000px solid transparent;
    right: -1000px;
    top: -1000px;
    filter: alpha(opacity=0);
    position: absolute;
    cursor: pointer;
	}

.pagination {
	margin-top:0px;
	margin-bottom: 5px;
	color: #FF8E00;
	}
	
.pagination > li > a,
.pagination > li > span {
	color: #FF8E00;
}
	
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #FF8E00;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f0ad4e;
  border-color:#f0ad4e;
}
	
.aside  {
	width:320px;
	}
	
.footer {
	background: #FFFFFF;
	border-top-style: solid;
	border-top-color: #D3D3D3;
	border-top-width: 1px;
	padding-top:5px;
	padding-bottom:5px;
	}
	
.modal-footer {
	margin-top:0px;
	}